.oh-main-header {
  .oh-header-logo {
    color: #97c93e !important;
    font-size: 21px;
    font-family: monospace;
  }

  .active-link {
    color: #97c93e !important;
  }

  a {
    margin: 5px 11px 5px 11px !important;
    text-decoration: none;
    color: white;
    &:active {
      color: #97c93e !important;
    }
  }
}
